@font-face {
  font-family: visitdenmark-bold;
  src: url(./assets/font/visitdenmark-bold.woff);
}

@font-face {
  font-family: visitdenmark-extrabold;
  src: url(./assets/font/visitdenmark-extrabold.woff);
}

@font-face {
  font-family: visitdenmark-medium;
  src: url(./assets/font/visitdenmark-medium.woff);
}

@font-face {
  font-family: visitdenmark-outline-medium;
  src: url(./assets/font/visitdenmark-outline-medium.woff);
}

@font-face {
  font-family: visitdenmark-outline-regular;
  src: url(./assets/font/visitdenmark-outline-regular.woff);
}

@font-face {
  font-family: visitdenmark-regular;
  src: url(./assets/font/visitdenmark-regular.woff);
}

@font-face {
  font-family: visitdenmark-semibold;
  src: url(./assets/font/visitdenmark-semibold.woff);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.discover__logo {
  width: 10rem;
}

h1 {
  font-family: visitdenmark-bold;
}

.discover::after {
  content: '';
  display: block;
  position: absolute;
  background-color: #052c51;
  top: 0;
  height: 50vh;
  left: 0;
  width: 100%;
  z-index: -1;
  border-radius: 0 0 10% 10%;
}

/* ---------- nav  ---------- */
nav {
  border-top: 1px solid lightgrey;
  padding: 24px 0;
  display: flex;
  justify-content: center;
  gap: 96px;
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  text-align: center;
  z-index: 10;
}

nav a {
  text-decoration: none;
}

.discover__buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.discover__icon {
  padding: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
}

.icon-close {
  color: grey;
}
.icon-reply {
  color: yellow;
}
.icon-favorite {
  color: red;
}
